body {
  background: #204a87;
}

#navigation li {
    display: inline;
    align : center
  }
  #navigation {
    margin: 0 ;
    padding: 100 ;
    list-style: none ;
    text-align: center ;
  }

  #navigation li {
    display: inline ;
    margin-right: 1px ;
    color: #fff ;
    background: rgb(0, 204, 177) ;
  }

  #navigation li a {
    padding: 4px 20px ;
    background: rgb(204, 0, 0) ;
    color: #fff ;
    border: 1px solid #600 ;
    font: 1em "Trebuchet MS",Arial,sans-serif ;
    line-height: 1em ;
    text-align: center ;
    text-decoration: none ;
  }

  #navigation li a:hover, #navigation li a:focus, #navigation li a:active {
    background: rgb(153, 23, 0) ;
    text-decoration: underline ;
  }

  h1 {
   
    margin: 0 ;
    padding: 0 ;
    text-align: center ;
    color: #fff;
  }

  div {
    color: #fff;
    font-weight : bold;
  }

  a {
    color: rgb(184, 173, 173);
  }