<html>
  <head>
    <title>Camera</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  </head>
  <body>
    <h1>Camera du robot</h1>
    <div>
      <img src="{{ url_for('cam') }}">
    </div>
    
    <p>
        <a href="/">Go back</a><br />
    </p>
  </body>
</html>