<html>
  <head>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  </head>
  <body>
    <h1>Bienvenu sur l'IHM de gestion du robot</h1>
    <ul id="navigation">
        
     <li> <a href="/state">Robot state</a></li> 
     <li> <a href="/ret_camera">Robot camera</a></li> 
     <li>  <a href="/temp">Robot temperature</a></li> 
      </ul>

   
  </body>
</html>