<html>
  <head>
    <title>State</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  </head>
  <body>
    <h1>State</h1>

    <form action="/message" method="POST">
      <div>
      <br>Saisir START ou STOP pour utiliser le robot</br>
    </div>
    </br>
      <input type=text name=state>
    </form>

    
    <p>
        <a href="/">Go back</a><br />
    </p>
    
  </body>
</html>