<html>
  <head>
    <title>Temperature</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  </head>
  <body>
    <h1>Temperature</h1>

    
    <p>
        <a href="/">Go back</a><br />
    </p>

  </body>
</html>